# IDE
.vim

# Por hora, acabei de criar o arquivo
devlog.md

# test
test.py

# log
/logs/new-map.log
/logs/logger.log
logs/

# cache
/src/__pycache__
/captcha/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode plugins
/.history
