airdrop-ng==1.1
airgraph-ng==1.1
apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
astroid==2.8.2
btrfsutil==5.14.1
CacheControl==0.12.6
catfish==4.16.2
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.8
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
gufw==21.4.0
html5lib==1.1
idna==3.2
isort==5.9.3
keyutils==0.6
lazy-object-proxy==1.6.0
lensfun==0.3.95
LibAppArmor==3.0.3
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
lightdm-gtk-greeter-settings==1.2.2
louis==3.19.0
Markdown==3.3.4
mccabe==0.6.1
menulibre==2.2.3
more-itertools==8.10.0
MouseInfo==0.1.3
msgpack==1.0.2
mss==6.1.0
mugshot==0.4.3
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.21.2
opencv-python==4.5.3.56
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.5
pep517==0.11.0
pexpect==4.8.0
Pillow==8.3.2
platformdirs==2.4.0
ply==3.11
progress==1.5
psutil==5.8.0
ptyprocess==0.7.0
PyAutoGUI==0.9.53
pycairo==1.20.1
pycparser==2.20
PyGetWindow==0.0.9
PyGObject==3.40.1
pylint==2.11.1
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyRect==0.1.4
PyScreeze==0.1.28
pysmbc==1.0.23
python-distutils-extra==2.39
python3-xlib==0.15
pytweening==1.0.4
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
reportlab==3.6.1
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
six==1.16.0
team==1.0
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
udiskie==2.3.3
ufw==0.36
urllib3==1.26.6
webencodings==0.5.1
wrapt==1.12.1
